<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/listar-recurso">Almacén</a></li>
    <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
  </ol>
</nav>

<div id="seccion_header" style="text-align: center;">
  <h2>Gestión de Proveedores</h2>
  <hr>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-body text-center">
          <span style="color: black; font-weight: bold" class="titulo">LISTADO DE PROVEEDORES</span>
          <br><br>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="input-group">
                <input type="text" class="form-control" name="filterEmpleado" placeholder="Buscar Proveedor">
                <button class="btn btn-outline-secondary" type="button">Buscar</button>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex justify-content-md-end">
                <button class="btn btn-primary me-2" routerLink="/pedido"><i class="fa-solid fa-paper-plane"></i> Realizar pedido</button>
                <button class="btn btn-success me-2" routerLink="/registrar-proveedor"><i class="fa-solid fa-plus"></i> Registrar proveedor nuevo</button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Email</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col" colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let proveedor of listProveedores | proveedorfilter: filterProveedor">
                  <td>{{proveedor.nombre}}</td>
                  <td>{{proveedor.direccion}}</td>
                  <td>{{proveedor.email}}</td>
                  <td>{{proveedor.telefono}}</td>
                  <td>
                    <button class="btn btn-danger" (click)="eliminarProveedor(proveedor._id)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 style="text-align: start; margin-top: 10px;" *ngIf="listProveedores.length == 0">No hay empleados para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>
