.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    flex: 1;
  }
  
  .search-options {
    margin-left: 10px;
  }
  
  .search-btn {
    margin-top: 12px;
    margin-left: 10px;
    width: 100%;
    height: 20px;
  }
  