<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
  </nav>

  <body>
  <div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="../assets/ACTUNITY.png" class="img-fluid" alt="Bienvenidos">
        </div>
    </div>
</div>

<div class="container text-center my-5">
    <div class="row">
        <div class="col">
            <h2>¿Por qué usar ACTUNITY?</h2>
            <p>ACTUNITY es la solución perfecta para la gestión eficiente de recursos y empleados en tu empresa.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Registro de Empleados</h3>
                    <p class="card-text">Registra y gestiona fácilmente a tus empleados en un solo lugar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Asignación de Recursos</h3>
                    <p class="card-text">Administra tus recursos de manera eficiente asignándolos a los empleados adecuados.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Soporte 24/7</h3>
                    <p class="card-text">Nuestro equipo de soporte está disponible en todo momento para ayudarte con cualquier consulta o problema.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="card mb-4">
              <div class="card-body">
                  <h3 class="card-title">Control de proveedores</h3>
                  <p class="card-text">Registra y gestiona fácilmente a tus proveedores en un solo lugar.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card mb-4">
              <div class="card-body">
                  <h3 class="card-title">Gestiona los recursos de tu almácen</h3>
                  <p class="card-text">Administra y gestiona los recursos llegados a tu almácen.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card mb-4">
              <div class="card-body">
                  <h3 class="card-title">Protege tu empresa</h3>
                  <p class="card-text">Nuestra prioridad es salvaguardar los recursos de tu empresa.</p>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container text-center my-5">
    <h2>Elige el Plan que se Ajuste a tus Necesidades</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Básico</h3>
                    <p class="card-text">Gratis</p>
                    <ul class="list-unstyled">
                        <li>Registro de Empleados</li>
                        <li>Asignación de Recursos</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <button type="button" class="btn btn-primary">Solicitar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Premium</h3>
                    <p class="card-text">$50/mes</p>
                    <ul class="list-unstyled">
                        <li>Registro en Almacén</li>
                        <li>Consulta Gratis</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <button type="button" class="btn btn-primary">Solicitar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Gold</h3>
                    <p class="card-text">$100/mes</p>
                    <ul class="list-unstyled">
                        <li>Registro de Empleados</li>
                        <li>Registro de Proveedores</li>
                        <li>Registro de Recursos</li>
                        <li>Soporte 24/7</li>
                    </ul>
                    <button type="button" class="btn btn-primary">Solicitar</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>