<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card mx-auto shadow-lg rounded">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Token de Verificación</h2> 
            <hr class="my-4"> 
            <form (ngSubmit)="verificarToken(tokenForm)" #tokenForm="ngForm">
              <div class="mb-3">
                <label for="token" class="form-label">Actunity envio un código de verificación a tu correo electrónico</label>
                <input type="text" class="form-control" id="token" name="token" ngModel required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Verificar Token</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  