
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body text-center">
                    <span class="tittle">{{ titulo }}</span>
                    <form class="mt-3" [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()">
                        <div class="mb-3">
                            <label for="marca">Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                            <div class="text-danger" *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
                                <span>El nombre del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Apellidos</label>
                            <input type="text" formControlName="apellido" class="form-control" placeholder="Apellidos">
                            <div class="text-danger" *ngIf="usuarioForm.get('apellido')?.hasError('required') && usuarioForm.get('apellido')?.touched">
                                <span>El Apellido  <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Correo electrónico</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Correo Electrónico">
                            <div class="text-danger" *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched">
                                <span>Ingresar  <strong>CORREO ELECTRÓNICO</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Nombre Empresa</label>
                            <input type="text" formControlName="nomEmpresa" class="form-control" placeholder="nomEmpresa">
                            <div class="text-danger" *ngIf="usuarioForm.get('nomEmpresa')?.hasError('required') && usuarioForm.get('nomEmpresa')?.touched">
                                <span>El nombre del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">RFC</label>
                            <input type="text" formControlName="rfc" class="form-control" placeholder="rfc">
                            <div class="text-danger" *ngIf="usuarioForm.get('rfc')?.hasError('required') && usuarioForm.get('rfc')?.touched">
                                <span>El nombre del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">uSER NAME</label>
                            <input type="text" formControlName="username" class="form-control" placeholder="username">
                            <div class="text-danger" *ngIf="usuarioForm.get('username')?.hasError('required') && usuarioForm.get('username')?.touched">
                                <span>El nombre del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">pASSWORD</label>
                            <input type="text" formControlName="password" class="form-control" placeholder="password">
                            <div class="text-danger" *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
                                <span>El nombre del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/listar-empleados" class="btn btn-danger  btn-lg float-start">CANCELAR</button>
                            <button type="submit"  style="background-color: #8dc640;border: #8dc640;" id="aceptar" type="submit" class="btn btn-success btn-lg float-end">Aceptar</button>                        
                        </div>
                    </form>                    
            </div>
        </div>
    </div>
</div>
