<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sobre nosotros</li>
    </ol>
  </nav>
<div id="seccion_header" style="text-align: center;">

    <h2>Sobre Nosotros</h2>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="section">
                <h4>Misión</h4>
                <p>ActUnity tiene la misión de ayudar a las empresas a administrar su 
                    información de manera más eficiente y eficaz, sin perder la seguridad e integridad 
                    de sus datos.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section">
                <img src="..\assets\mision1.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="section">
                <img src="..\assets\vision.jpg" class="img-thumbnail">
            </div>
        </div>
        <div class="col-md-6">
            <div class="section">
                <h4>Visión</h4>
                <p style="align-items: center;">ActUnity tiene la visión de lograr ser el sistema número 1 entre las empresas del mercado.</p>
            </div>
        </div>
    </div>