.fa{
    color: black;
}
.fa :hover{
-webkit-transform:scale(0.25);
-moz-transform:scale(0.25);
-ms-transform:scale(0.25);
-o-transform:scale(0.25);
transform:scale(0.25);
}


h2{
    text-align: center;
    margin-top: 3%;
    color: black;
  }
  
  
  hr {
    color: #004b8d;
    width:400px;
    margin: auto;
    text-align: center;
    border-top: 5px solid;
    margin-bottom: 20px;
  }

