<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mapa de sitio</li>
  </ol>
</nav>
<nav class="sitemap">
    <ul class="first">
      <li><a href="inicio">Inicio</a>
        <br>
        <ul class="second">
          <li><a href="#">Empleados</a>
            <br>
            <br>
            <ul class="third">
              <li><a href="registrar">Registrar</a></li>
            </ul>
          </li>
          <li><a href="listar-recurso">Almacén</a>
            <br>
            <br>
            <ul class="third">
              <li><a href="crear-recurso">Registrar recurso</a></li>
              <li><a href="proveedores">Proveedores</a></li>
              <li><a href="registrar-proveedor">Registrar</a></li>
              <li><a href="pedido">Realizar pedido</a>
              </li>
            </ul>
          </li>
          <li><a href="productos">Productos</a>
            <br>
            <br>
            <ul class="third">
            </ul>
          </li>
          <li><a href="solicitudes">Solicitudes</a>
            <br>
            <br>
            <ul class="third">
              <li><a href="solicitudes">Pendientes</a></li>
              <li><a href="solicitudes">Aprobadas</a></li>
              <li><a href="solicitudes">Rechazadas</a></li>
            </ul>
          </li>
          <li><a href="contacto">Contacto</a></li>
          
          <br>
            <br>
        </ul>
      </li>
    </ul>
  </nav>
  