<footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="inicio" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a href="mapa" class="nav-link px-2 text-muted">Mapa de sitio</a></li>
      <li class="nav-item"><a href="contacto" class="nav-link px-2 text-muted">Contacto</a></li>
      <li class="nav-item"><a href="preguntas-frecuentes" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="nosotros" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
      <li class="nav-item"><a href="https://www.facebook.com/profile.php?id=61556696798193" class="nav-link px-2 text-muted"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li class="nav-item"><a href="https://www.instagram.com/actunity24/" class="nav-link px-2 text-muted"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="nav-item"><a href="https://www.tiktok.com/@actunity24" class="nav-link px-2 text-muted"><i class="fa-brands fa-tiktok"></i></a></li>
      <li class="nav-item"><a href="https://twitter.com/ACTUNITY24" class="nav-link px-2 text-muted"><i class="fa-brands fa-x-twitter"></i></a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2024 Company, Inc</p>
  </footer>


  